.banner{
    height: 450px;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-content{
    padding-top: 250px;
    margin-left: 30px;

}

.banner-title{
    font-size: 40px;
    font-family:cursive;
    font-weight: 800;
    
}
.banner-des{
line-height: 1.5;

}